# Enable rewrite engine
RewriteEngine On

# If the requested file or directory doesn't exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect all requests to the public directory
RewriteRule ^(.*)$ public/$1 [L]

# Prevent directory listing
Options -Indexes
