<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect to MisVord App" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(www\.)?marvelcollin\.my\.id$" />
                    </conditions>
                    <action type="Redirect" url="http://marvelcollin.my.id:1001/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="Redirect Local Access" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Redirect" url="http://localhost:1001/{R:1}" redirectType="Temporary" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
