<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <httpErrors errorMode="Detailed" />
        
        <defaultDocument>
            <files>
                <clear />
                <add value="public\index.php" />
            </files>
        </defaultDocument>
        
        <rewrite>
            <rules>
                <rule name="Block Sensitive Files" stopProcessing="true">
                    <match url="^(config|database|vendor|logs|tests|bootstrap|controllers|utils|exceptions|migrations|views|composer\.json|composer\.lock|\.env)" />
                    <action type="CustomResponse" statusCode="403" />
                </rule>
                
                <rule name="Static Files" stopProcessing="true">
                    <match url="^(css|js|assets|storage)/(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="public\{R:0}" />
                </rule>
                
                <rule name="All Routes to Public" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="public\router.php" />
                </rule>
            </rules>
        </rewrite>
        
        <staticContent>
            <mimeMap fileExtension=".woff" mimeType="font/woff" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
            <mimeMap fileExtension=".ttf" mimeType="font/ttf" />
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>
    </system.webServer>
</configuration> 